{% extends 'home.html' %}
{% block content %}

<h1>Cat List</h1>

{% for Game in games %}
  <div class="card">
    {% comment %} <a href="/games/{{ game.id }}"> {% endcomment %}
    <div class="card-content">
      <span class="card-title">{{ Game.name }}</span>
      <p>Genre: {{ Game.genre }}</p>
      <p>Description: {{ Game.description }}</p>
      {% if Game.year > 2000 %}
        <p>Year: {{ Game.year }}</p>
      {% else %}
        <p>Year: Old</p>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock %}

